@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.body {
  width: 375px;
}

/* ===============================MAIN PAGE=============================== */

/* ===============================HEADER=============================== */

.page1 {
  background-color: #bdcb20;
  padding: 25% 5% 0 5%;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

.icons {
  width: 20%;
  display: flex;
  justify-content: space-between;
  padding-right: 1%;
}

.page1 h1 {
  color: #ffffff;
  font-weight: 600;
  font-size: 21px;
  line-height: 100%;
}

.searchbox {
  color: #767f14;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.71429px;
  text-transform: uppercase;
  background: #ffffff;
  box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  padding: 4% 3% 4% 6%;
  align-items: center;
}

.radius {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.71429px;
  text-transform: uppercase;
  color: #ffffff;
  margin:5% 0 2% 0;
}

.radius span {
    text-transform: none;
}

input[type="range"] {
    margin-bottom:4%;
}

/* ===============================MAIN=============================== */

.listtype {
    display:flex;
    width:100%;
}

.listtype div {
    width:50%;
    display:flex;
    justify-content: center;
    align-items:center;
    padding:1%;
    border-radius: 0px 0px 8px 8px;
}

.listtype div:first-of-type {
    background: #DDE86B;
}

.listtype div:nth-of-type(2) {
    background-color: #ffffff;
}

