@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.body {
  width: 375px;
}

/* ===============================MAIN PAGE=============================== */

/* ===============================HEADER=============================== */

.page1head {
  background-color: #bdcb20;
  padding: 25% 5% 0 5%;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

.icons {
  width: 20%;
  display: flex;
  justify-content: space-between;
  padding-right: 1%;
}

.page1head h1 {
  color: #ffffff;
  font-weight: 600;
  font-size: 21px;
  line-height: 100%;
}

.searchbox {
  color: #767f14;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.71429px;
  text-transform: uppercase;
  background: #ffffff;
  box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  padding: 4% 3% 4% 6%;
  align-items: center;
}

.radius {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.71429px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 5% 0 2% 0;
}

.radius span {
  text-transform: none;
}

input[type="range"] {
  margin-bottom: 4%;
}

/* ===============================MAIN=============================== */

.listtype {
  display: flex;
  width: 375px;
  justify-content: center;
}

.listtype div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  border-radius: 0px 0px 8px 8px;
}

.listtype div:first-of-type {
  background: #dde86b;
}

.listtype div:nth-of-type(2) {
  background-color: #ffffff;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  height: 264px;
  width: 343px;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pindiv{
    align-self:flex-end;
    background-color: #ffffff;
    margin-top:2%;
    margin-right:2%;
    height:30px;
    width:30px;
    display:flex;
    justify-content: center;
    border-radius: 100%;
    align-items: center;
    padding: 2% 0;
}

.pinicon {
  width: 16px;
  height: 16px;
}

.details {
  border: 1px solid #cedbe2;
  border-radius: 0 0 8px 8px;
  border-top:none;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top:15%;
  padding:5%;
  padding-top:35%;
}

.details h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #283a44;
}

.details p {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #507488;
}

.refreshicon {
    height:16px;
    width:19.56px;
}

article:first-of-type {
    background-image: url("../img/idyllischerbauernhof.png");
  }

article:nth-of-type(2) {
    background-image: url("../img/blumenwiese.png");
}